.idea/
node_modules/
lerna-debug.log
npm-debug.log
packages/*/dist
coverage
.vscode/
packages/*/.npmrc
.DS_Store
*.zip
*.tar.gz
yarn-error.log
.sec**md
.env**md
./**/dist*
.env
.tmp
.sec
_dotsec.config.ts
dotsec.config2.ts
dotsec.configold..ts
mekker.config.ts
